@use '../../styles/variables' as v;

.top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: v.$primary-color;
  width: 70%;
  margin: 0 auto;
  border-radius: v.$border-radius;
  padding: v.$spacing-md;
  color: v.$color-white;
}

.difficulty-selector,
.game-selector {
  width: 30%;
  padding: 0.4em 0.8em;
  border-radius: v.$border-radius;
  outline: none;
  cursor: pointer;
}
