@use './variables' as v;

.page {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: v.$spacing-md;
}

.practice-page {
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.page-actions {
  display: flex;
  gap: v.$spacing-sm;
  flex-wrap: wrap;
}
