@use '../../../../styles/variables' as v;

.side-panel {
  width: 300px;
  background-color: v.$secondary-color;
  position: absolute;
  top: 0;
  left: calc(50% + 330px);
  display: flex;
  flex-direction: column;
  border-radius: v.$border-radius;
  box-shadow: v.$shadow-default;
}

.opened {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition:
    opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}

.closed {
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(16px);
  transition:
    opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}

.close-btn {
  align-self: end;
  cursor: pointer;
}

.side-panel-title {
  text-align: center;
  margin-top: v.$spacing-xs;
  font-family: v.$font-family-base;
  color: v.$text-color;
}

.side-panel-text {
  color: v.$text-color;
  padding: v.$spacing-md;
}

@media (max-width: 1280px) {
  .side-panel {
    left: auto;
    right: 0;
  }
}
